// ignore config.json
config.json
// ignore all .html files
*.html
// ignore code-workspace
*.code-workspace
// ignore testes (folder)
testes
// ignore node_modules (folder)
node_modules
// ignore assets (folder)
assets